.video-modal{
    display: flex !important;
    width: inherit;
    height: inherit;
    flex-direction: row;
    align-items: center !important;
    position: relative;
    /* background-color: transparent !important; */
    justify-content: center !important;
    align-items: center !important;

}


.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
 width: 60rem;
 height: 47rem;
 padding:2rem !important;



}


.modal {
  --bs-modal-bg:transparent;
}

.modal-header{
    background-color: transparent !important;
    color: white;
}

.carousal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-video{
    width: 60rem !important;
    height:30rem;
    /* border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2; */
}