.card.analytics .card-body h3{
  /* max-height: 140px; */
  max-width: inherit !important;
  overflow-x:hidden !important;
  text-overflow: clip !important;
  overflow-y: hidden !important;
  
}

#analytic .card {
  max-height: 10em;
  min-height: 10em;
}
/* #analytic .card .card-body{
  display: flex;
  justify-content: center;
  /* align-items:center; */




.canvas-class{
  width: inherit;
  height: inherit;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

}

body {
  font-family: sans-serif;
  padding: 50px 100px;
  text-align: center;
}
h2 {
  font-size: 16px;
  margin-bottom: 1.5em;
  color: #333;
}

#canvas-container{
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-width: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;

}

/**
 * Simple HTML/CSS switch
 */
