.card.analytics .card-body h3{
  /* max-height: 140px; */
  max-width: inherit !important;
  overflow-x:hidden !important;
  text-overflow: clip !important;
  overflow-y: hidden !important;
  
}

#analytic .card {
  max-height: 10em;
  min-height: 10em;
}

.btn-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* #analytic .card .card-body{
  display: flex;
  justify-content: center;
  /* align-items:center; */


  .btn-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }



.canvas-class{
  width: inherit;
  height: inherit;
  border-radius: 4px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

}

body {
  font-family: sans-serif;
  padding: 50px 100px;
  text-align: center;
}
h2 {
  font-size: 16px;
  margin-bottom: 1.5em;
  color: #333;
}

/**
 * Simple HTML/CSS switch
 */

 .column-flex{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

