#data-card.card{

    box-shadow: none !important;
    border-radius: 10px !important;
    border: 1px solid #ccc !important;
}

.date-picker{
    position: relative;
    border: 2px solid var(--gray-light);
  /* background-color:var(--light-black) !important; */
  padding: 5px;
  border-radius: 10px;
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    align-items: center;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 8px rgba(94,104,121,0.3) !important;

}
.container{
    position: relative;
  background-color:var(--light-black) !important;
  padding: 5px;
  border-radius: 5px;
    display: flex;
    height: 2.5em;
    justify-content: space-between;
    align-items: center;
}
.date-picker input{
    /* background-color: var(--light-black) !important; */

    border: none !important;

}

.date-picker fa-icon{
    margin-right: 0.4rem !important;
}

.date-picker input:active{
    /* background-color: var(--light-black) !important; */

    box-shadow: none !important;
    border: none;
    
}