<div class="container-fluid">
    <div class="page-header">
        <h3>Dashboard</h3>
    </div>


    <div class="row mb-5" id=cameraStatus>

        <h5 class="sub-header ms-2"> Cameras</h5>
        <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div class="card card-body ">
                <div class="statusGrid">
                    <div>
                        <div class="">
                            <h1 (click)="ToCameras()">{{cameraStatus.total_cam_count}}</h1>
                        </div>
                        <div class="font-primary"><small> Total Cameras</small></div>

                    </div>
                    <div class="">
                        <img class="iconImage" src="assets/images/icons/Camera.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div class="card card-body">
                <div class="statusGrid">
                    <div (click)="cameraStatus.enable_data_count?openECDetailsModal(enabledCameraDetails):null">
                        <div class="">
                            <h1>{{cameraStatus.enable_data_count}}</h1>
                        </div>
                        <div class="font-primary"><small>Solution Enabled Cameras</small> </div>

                    </div>
                    <div class="">
                        <img class="iconImage" src="assets/images/icons/EnabledCamera.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div class="card card-body">
                <div class="statusGrid">
                    <div>
                        <div class=""
                            (click)="cameraStatus.disable_data_count?openDCDetailsModal(disabledCameraDetails):null">
                            <h1>{{cameraStatus.disable_data_count}}</h1>
                        </div>
                        <div class="font-primary"><small>Solution Disabled Cameras</small></div>

                    </div>
                    <div class="">
                        <img class="iconImage" src="assets/images/icons/DisabledCamera.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div class="card card-body">
                <div class="statusGrid">
                    <div>
                        <div class=""
                            (click)="cameraStatus.not_working_cam_count ? openNWCDetailsModal(NWCameraDetails):null">
                            <h1>{{cameraStatus.not_working_cam_count}}</h1>
                        </div>
                        <div class="font-primary"><small>Not Working Cameras</small></div>

                    </div>
                    <div class="">
                        <img class="iconImage" src="assets/images/icons/notworkingCamera.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-5" id="violationCount">
        <h5 class="float-start sub-header">Violations</h5>




        <div class="d-flex flex-row-reverse justify-content-between">


            <span class="col-xs-6 col-xl-3 col-md-6 col-sm-6 col-lg-4">
                    <button  *ngIf="isDatewise" class="float-end btn default ms-2" (click)="RefreshData()">
                        <fa-icon icon="rotate"></fa-icon>
                    </button>
                    <div class="float-end mb-3 col-xl-10 col-xs-12 col-md-12 col-sm-12 col-lg-12" id="dateInput">
                         <input   ngxDaterangepickerMd
                         #datepicker   (datesUpdated)="dateUpdated($event)"
                         [showCustomRangeLabel]="true" [ranges]="ranges" [timePicker]="true"
                         placeholder="Select Date" class="form-control" [(ngModel)]="selectedMoments" required>
                    
                </div>
                
            </span>
        </div>
        <div class="col-xl-4 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3"
            [ngClass]="{'col-xl-3':violationList.length==3, 'col-xl-4':violationList.length==2,'col-xl-6':violationList.length==1}">
            <div class="card card-body">
                <div class="statusGrid">
                    <div class="">
                        <div class="" (click)="openAllViolationsModal(allViolations)">
                            <h1> {{violationsCount.total_count}}</h1>
                        </div>
                        <div class="font-primary">Total Violations</div>

                    </div>

                    <div class="">
                        <img src="assets/images/icons/violation.svg" alt="" class="iconImage">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="violationList.indexOf('RA')>=0"
            [ngClass]="{'col-xl-3':violationList.length==3, 'col-xl-4':violationList.length==2,'col-xl-6':violationList.length==1}"
            class="col-xl-4 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div class="card card-body">
                <div class="statusGrid">
                    <div class="">
                        <div class="" (click)="raViolationsModal(raViolation)">
                            <h1> {{violationsCount.ra_count}}</h1>
                        </div>
                        <div class="font-primary">RA Violations</div>

                    </div>

                    <div class="">
                        <img src="assets/images/icons/RA.svg" alt="" class="iconImage">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="violationList.indexOf('PPE')>=0"
            [ngClass]="{'col-xl-3':violationList.length==3, 'col-xl-4':violationList.length==2,'col-xl-6':violationList.length==1}"
            class="col-xl-4 col-xs-12 col-sm-12 col-md-12 col-lg-6 mb-3">
            <div class="card card-body">
                <div class="statusGrid">
                    <div class="">
                        <div class="">
                            <h1 (click)="ppeViolationsModal(ppeViolation)">{{violationsCount.ppe_count}}</h1>
                        </div>
                        <div class="font-primary">PPE Violations</div>

                    </div>

                    <div class="">
                        <img src="assets/images/icons/ppe.svg" alt="" class="iconImage">
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="violationList.indexOf('ONB')>=0" [ngClass]="violationList.length==3?'col-xl-3':'col-xl-4'"
            class="col-4 col-xs-12 col-sm-12 col-md-4 mb-3">
            <div class="card card-body">
                <div class="statusGrid">
                    <div class="">
                        <div class="">
                            <h1> 500</h1>
                        </div>
                        <div class="font-primary">PPE Violations</div>

                    </div>

                    <div class="">
                        <img src="assets/images/icons/ppe.svg" alt="" class="iconImage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h5 class="sub-header ms-2">Violations Data Analysis</h5>
</div>
<div class="row mb-5" *ngIf="violationsCount">

    <div class="col-xl-6 col-sm-12 p-2">
        <canvasjs-chart [options]="chartOptionsPie" [styles]="{ width: '100%', height: '360px' }">
        </canvasjs-chart>
    </div>
    <div class="col-xl-6 col-sm-12 p-2">
        <canvasjs-chart [options]="chartOptionsBar" [styles]="{ width: '100%', height: '360px' }">
        </canvasjs-chart>
    </div>
    <!-- <div class="col-xl-4 col-sm-12 p-2">
        <canvasjs-chart
          [options]="chartOptionsline"
          [styles]="{ width: '100%', height: '360px' }"
        ></canvasjs-chart>
      </div> -->

</div>

<ng-template let-modal id="ecCamera" #enabledCameraDetails>
    <div class="modal-header">
        <h4 class="modal-title" style="color: #178489;">Solution Added Camera Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="dataTable">
        <div class="col-12 card">
            <table class="table">
                <thead style="color:#134276">
                    <tr>
                        <th scope="col">AI Solutions</th>
                        <th scope="col">No of Cameras</th>
                        <th scope="col">Camera Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>RA</b></td>
                        <td><b>{{ECDetails.roi_cam_count}}</b></td>
                        <td>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width:70%">Camera Name</th>
                                        <th style="width:70%">Camera IP</th>
                                        <th style="width:70%">Camera Image</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let camera of raCamDetails;let i=index">
                                        <td>{{camera.camera_name}}</td>
                                        <td>{{camera.camera_ip}}</td>
                                        <td><img (click)="OpenCameraImage(camera.imagename)"
                                                [src]="IP+'/get_roi_image/'+camera.imagename" class="image"
                                                style="border-radius:5px !important;" alt="">
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td><b>PPE</b></td>
                        <td><b>{{ECDetails.ppe_data_count}}</b></td>
                        <td>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width:70%"></th>
                                        <th style="width:70%"></th>
                                        <th style="width:70%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cam of ppeCamDetails">
                                        <td>{{cam.camera_name}}</td>
                                        <td>{{cam.camera_ip}}</td>
                                        <td><img (click)="OpenCameraImage(cam.imagename)"
                                                [src]="IP+'/get_roi_image/'+cam.imagename" class="image" alt="">
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Traffic Count</b></td>
                        <td><b>{{ECDetails.tc_data_count}}</b></td>
                        <td>
                <tbody>
                    <tr *ngFor="let camera of tcCamDetails">
                        <td>{{camera.camera_name}}</td>
                        <td>{{camera.camera_ip}}</td>
                        <td><img [src]="IP+'/image/'+camera.imagename" alt=""> </td>

                    </tr>
                </tbody>
                </td>
                </tr>
                <tr>
                    <td><b>Crowding</b></td>
                    <td><b>{{ECDetails.cr_data_count}}</b></td>
                    <td>
                        <tbody>
                            <tr *ngFor="let camera of crCamDetails">
                                <td>{{camera.camera_name}}</td>
                                <td>{{camera.camera_ip}}</td>
                                <td> [src]="IP+'/get_roi_image/'+camera.imagename" class="image" alt=""> </td>

                            </tr>
                        </tbody>
                    </td>
                </tr>
                </tbody>

            </table>
            <ng-template #errorContent>
                <div class="col-12 card alert alert-danger">
                    <div class="d-flex justify-content-center">
                        <div class="">Error while fetching the data</div>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div> -->

</ng-template>

<ng-template let-modal #disabledCameraDetails>
    <div class="modal-header">
        <h4 class="modal-title" style="color: #178489;">Disabled Camera Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="dataTable3">
        <div class="col-12 card">
            <table class="table" id="dataTable">
                <thead style="color:#134276">
                    <tr>
                        <th>Camera Name</th>
                        <th>Camera IP</th>
                        <th>Camera Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let camera of disabledCamDetails;let i=index">
                        <td>{{camera.camera_name}}</td>
                        <td>{{camera.camera_ip}}</td>
                        <td><img (click)="OpenImage(i)" [src]="IP+'/get_roi_image/'+camera.imagename" class="image"
                                alt=""> </td>

                    </tr>
                </tbody>


            </table>
            <ng-template #errorContent>
                <div class="col-12 card alert alert-danger">
                    <div class="d-flex justify-content-center">
                        <div class="">Error while fetching the data</div>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div> -->

</ng-template>



<ng-template let-modal #NWCameraDetails>
    <div class="modal-header">
        <h4 class="modal-title" style="color: #178489;">Not Working Camera Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="col-12 card" id="dataTable2">
            <table class="table" id="dataTable">
                <thead style="color:#134276">
                    <tr>
                        <th>Camera Name</th>
                        <th>Camera IP</th>
                        <th>Camera Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let camera of NWCamDetails;let i=index">
                        <td>{{camera.camera_name}}</td>
                        <td>{{camera.camera_ip}}</td>
                        <td><img (click)="OpenImage(i)" [src]="IP+'/get_roi_image/'+camera.imagename" class="image"
                                alt=""> </td>

                    </tr>
                </tbody>


            </table>
            <ng-template #errorContent>
                <div class="col-12 card alert alert-danger">
                    <div class="d-flex justify-content-center">
                        <div class="">Error while fetching the data</div>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div> -->

</ng-template>
<ng-template let-modal id="ecCamera" #allViolations>
    <div class="modal-header">
        <h4 class="modal-title" style="color: #178489;">Camera wise Violation Count</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="dataTable">
        <div class="col-12 card">
            <table class="table" id="dataTable">
                <thead style="color:#134276">
                    <tr>
                        <th>Camera Name</th>
                        <th>Camera IP</th>
                        <th>Camera Image</th>
                        <th>RA violations</th>
                        <th>PPE violations</th>



                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let camera of allViolationDetails">
                        <td>{{camera.camera_name}}</td>
                        <td>{{camera.camera_ip}}</td>
                        <td><img (click)="OpenCameraImage(camera.imagename)"
                                [src]="IP+'/get_roi_image/'+camera.imagename" class="image" alt=""> </td>
                        <td>{{camera.roi_type_counts}}</td>

                        <td>{{camera.ppe_type_counts}}</td>


                    </tr>
                </tbody>


            </table>
            <ng-template #errorContent>
                <div class="col-12 card alert alert-danger">
                    <div class="d-flex justify-content-center">
                        <div class="">Error while fetching the data</div>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div> -->

</ng-template>

<ng-template let-modal #ppeViolation>
    <div class="modal-header">
        <h4 class="modal-title" style="color: #178489;">PPE Violations</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="dataTablePPE">
        <div class="col-12 card">
            <table class="table" id="dataTable">
                <thead style="color:#134276">
                    <tr>
                        <th>Camera Name</th>
                        <th>Camera IP</th>
                        <th>Camera Image</th>
                        <th>Violation Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let camera of ppeViolations">
                        <td>{{camera.camera_name}}</td>
                        <td>{{camera.camera_ip}}</td>
                        <td><img (click)="OpenCameraImage(camera.imagename)"
                                [src]="IP+'/get_roi_image/'+camera.imagename" class="image" alt=""> </td>
                        <td>{{camera.ppe_type_counts}}</td>
                    </tr>
                </tbody>


            </table>
            <ng-template #errorContent>
                <div class="col-12 card alert alert-danger">
                    <div class="d-flex justify-content-center">
                        <div class="">Error while fetching the data</div>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div> -->

</ng-template>
<ng-template let-modal #raViolation>
    <div class="modal-header">
        <h4 class="modal-title" style="color: #178489;">RA Violations</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" id="dataTableRA">
        <div class="col-12 card">
            <table class="table" id="dataTable">
                <thead style="color:#134276">
                    <tr>
                        <th>Camera Name</th>
                        <th>Camera IP</th>
                        <th>Camera Image</th>
                        <th>RA violation Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let camera of RAViolations">
                        <td>{{camera.camera_name}}</td>
                        <td>{{camera.camera_ip}}</td>
                        <td><img (click)="OpenCameraImage(camera.imagename)"
                                [src]="IP+'/get_roi_image/'+camera.imagename" class="image" alt=""> </td>
                        <td>{{camera.roi_type_counts}}</td>

                    </tr>
                </tbody>


            </table>
            <ng-template #errorContent>
                <div class="col-12 card alert alert-danger">
                    <div class="d-flex justify-content-center">
                        <div class="">Error while fetching the data</div>
                    </div>

                </div>
            </ng-template>
        </div>
    </div>
    <!-- <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div> -->

</ng-template>