


$grey:  #777;
$grey2: #dfe3e4;
$blue:  #2183dd;
$blue-light:#e5efff;
$green: #009900;
$white: #fff;
$danger:hsl(4, 81%, 41%);
$primary-color:#1B98C5;
$light-black:#EBEBEB;


$base-color: hsl(212, 59%, 29%);

$disable-background-color: #eceeef;

#success .form-check-input:checked
 {
  background-color:hsl(130, 57%, 52%) !important;
  border-color:hsl(130, 57%, 52%)  !important ;
 }

 #danger .form-check-input:checked
 {
  background-color:$danger !important;
  border-color:$danger  !important ;
 }

 #custome .form-check-input:checked
 {
  background-color:$base-color !important;
  border-color:$base-color  !important ;
  height: 1.2em !important;
  width: 1.2em;
 }
//  #custome .form-check-input
//  {
//   border-color:$light-black  !important ;
//   height: 1.2em !important;
//   width: 1.2em;
//   border-radius: 5px !important;
//  }

 #custome .form-check-input
 {
  height: 1.2em !important;
  width: 1.2em;
 }
 
 #subCheckbox .form-check-input:checked
 {
  background-color: $blue-light !important;
  border-color:$blue-light  !important ;
  height: 1.2em !important;
  width: 1.2em;
 }

 #subCheckbox .form-check-input
 {
  height: 1.2em !important;
  width: 1.2em;
 }


 .panel.form-check-input:checked{
    background-color:hsl(4, 57%, 52%) !important;
    border-color:hsl(4, 57%, 52%) !important ;
 }

 .toast-container {
   /* pointer-events: none; */
   pointer-events: all;
   position: fixed;
   height: 100vh;
   z-index: 999999;
   overflow-y: auto;
 }
 .toast-container * {
   box-sizing: border-box;
 }
 .toast-container .ngx-toastr {
   position: relative;
   /* overflow-y: scroll; */
   margin: 0 0 6px;
   padding: 15px 15px 15px 50px;
   width: 300px;
   
   border-radius: 7px 7px 7px 7px;
   background-position: 15px center;
   background-repeat: no-repeat;
   background-size: 24px;
   box-shadow: 0 0 12px #999999;
   color: #FFFFFF;
 }
//  
.multiselect-dropdown  {
   position: relative;
   width: 100%;
   font-size: inherit;
   font-family: inherit;
   .dropdown-btn{
     display: inline-block;
     border: 1px solid $primary-color !important;
     width: 100%;
     padding: 6px 12px;
     margin-bottom: 0;
     font-weight: normal;
     line-height: 1.52857143;
     text-align: left;
     vertical-align: middle;
     cursor: pointer;
     background-image: none;
     background-color:#FFFFFF !important;
     border-radius: 4px;
     .selected-item-container{
       overflow-x: hidden !important;
       display: flex !important;
     }
     .selected-item {
       border: none !important;
       margin-right: 6px !important;
       background: #FFFFFF !important;
       padding: 0px 5px;
       color: black !important;
       border-radius: 2px;
       max-width:150px !important;
       max-height: 25px !important;
       overflow-y: scroll !important;
       text-overflow: ellipsis !important;
     
       
       a {
         font-size: 1.1rem;
         text-decoration: none;
         display: none
       }
 
       span{
         max-width: 80px !important;
         text-overflow: clip !important;
       }
     }
     .selected-item:hover {
       box-shadow: 1px 1px #959595;
     }
     .dropdown-down {
       display: inline-block;
       top: 10px;
       width: 0;
       height: 0;
       border-top: 10px solid #adadad;
       border-left: 10px solid transparent;
       border-right: 10px solid transparent;
     }
     .dropdown-up {
       display: inline-block;
       width: 0;
       height: 0;
       border-bottom: 10px solid #adadad;
       border-left: 10px solid transparent;
       border-right: 10px solid transparent;
     }
   }
   .disabled {
     & > span {
       background-color: $disable-background-color;
     }
   }
 }
 
 .dropdown-list {
   position: absolute;
   padding-top: 6px;
   width: 100%;
   z-index: 9999;
   border: 1px solid #ced4da;
   border-radius: 3px;
   background: #ffffff !important;
   margin-top: 10px;
   box-shadow: 0px 1px 1px #cac7c7 !important;
   ul {
     padding: 0px;
     list-style: none;
     overflow: auto;
     margin: 0px;
   }
   li {
     padding: 6px 10px;
     cursor: pointer;
     text-align: left;
   }
   .filter-textbox {
     border-bottom: 1px solid #ccc;
     position: relative;
     padding: 10px;
     input {
       border: 0px;
       width: 100%;
       padding: 0px 0px 0px 26px;
     }
     input:focus {
       outline: none;
     }
   }
 }
 
 .multiselect-item-checkbox input[type='checkbox'] {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
 }
 
 .multiselect-item-checkbox input[type='checkbox']:focus + div:before,
 .multiselect-item-checkbox input[type='checkbox']:hover + div:before {
   border-color: #ced4da !important;
   background-color: #f2f2f2 !important;
 }
 
 .multiselect-item-checkbox input[type='checkbox']:active + div:before {
   transition-duration: 0s;
 }
 
 .multiselect-item-checkbox input[type='checkbox'] + div {
   position: relative;
   padding-left: 2em;
   vertical-align: middle;
   user-select: none;
   cursor: pointer;
   margin: 0px;
   color: #000;
 }
 
 .multiselect-item-checkbox input[type='checkbox'] + div:before {
   box-sizing: content-box;
   content: '';
   color: #1b97aa !important;
   position: absolute;
   top: 50%;
   left: 0;
   width: 14px;
   height: 14px;
   margin-top: -9px;
   border:2px solid #1b97aa !important;
   text-align: center;
   transition: all 0.4s ease;
 }
 
 .multiselect-item-checkbox input[type='checkbox'] + div:after {
   box-sizing: content-box;
   content: '';
   background-color: #1b97aa !important;
   position: absolute;
   top: 50%;
   left: 4px;
   width: 10px;
   height: 10px;
   margin-top: -5px;
   transform: scale(0);
   transform-origin: 50%;
   transition: transform 200ms ease-out;
 }
 
 .multiselect-item-checkbox input[type='checkbox']:disabled + div:before {
   border-color: #1b97aa !important;
 }
 
 .multiselect-item-checkbox
   input[type='checkbox']:disabled:focus
   + div:before
   .multiselect-item-checkbox
   input[type='checkbox']:disabled:hover
   + div:before {
   background-color: inherit;
 }
 
 .multiselect-item-checkbox
   input[type='checkbox']:disabled:checked
   + div:before {
   background-color: #cccccc;
 }
 
 .multiselect-item-checkbox input[type='checkbox'] + div:after {
   background-color: transparent;
   top: 50%;
   left: 4px;
   width: 8px;
   height: 3px;
   margin-top: -4px;
   border-style: solid;
   border-color: #ffffff;
   border-width: 0 0 3px 3px;
   border-image: none;
   transform: rotate(-45deg) scale(0);
 }
 
 .multiselect-item-checkbox input[type='checkbox']:checked + div:after {
   content: '';
   transform: rotate(-45deg) scale(1);
   transition: transform 200ms ease-out;
 }
 
 .multiselect-item-checkbox input[type='checkbox']:checked + div:before {
   animation: borderscale 200ms ease-in;
   background: #1b97aa !important;
 }
 
 .multiselect-item-checkbox input[type='checkbox']:checked + div:after {
   transform: rotate(-45deg) scale(1);
 }
 
 @keyframes borderscale {
   50% {
     box-shadow: 0 0 0 2px #1b97aa;
   }
 }
 .dropdown-item:hover ,.dropdown-item:focus{
  background-color: $base-color !important;
color:white ;
}

#cameraBrand .multiselect-dropdown  {
  position: relative;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  .dropdown-btn{
    display: inline-block;
    background-color: hsl(210, 27%, 96%) !important;
    border: 2px solid hsl(213, 59%, 88%) !important;
    width: 100%;
    height: calc(3.5rem + 2px) !important;
    line-height: 1.25 !important;
    padding: 15px 12px !important;
    margin-bottom: 0;
    font-weight: normal;
    text-align: left;
    vertical-align: middle !important;
    cursor: pointer;
    background-image: none;
    
    border-radius: 4px;
    span{
      max-width: 70% !important;
      overflow: hidden !important;
    }
    .selected-item-container{
      overflow-x: hidden !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .dropdown-multiselect__caret{
      margin: 10px !important;
      width: 25px !important;
    }
    .selected-item {
      border: none !important;
      margin-right: 6px !important;
      background: #f3f3fd !important;
      padding: 0px 5px;
      color: black !important;
      border-radius: 2px;
      max-width:150px !important;
      max-height: 25px !important;
      overflow-y: scroll !important;
      text-overflow: ellipsis !important;
    
      
      a {
        font-size: 1rem;
        text-decoration: none;
       // margin: 25px auto 25px auto !important;
        display: none
      }

      span{
        max-width: 70px !important;
        text-overflow: clip !important;
      }
    }
    .selected-item:hover {
      box-shadow: 1px 1px #959595;
    }
    .dropdown-down {
      display: inline-block;
      top: 10px;
      width: 0;
      height: 0;
      border-top: 10px solid #adadad;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .dropdown-up {
      display: inline-block;
      width: 0;
      height: 0;
      border-bottom: 10px solid #adadad;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
  }
  .disabled {
    & > span {
      background-color: $disable-background-color;
    }
  }
}

.dropdown-list {
  position: absolute;
  padding-top: 6px;
  width: 100%;
  z-index: 9999;
  border: 1px solid #ced4da;
  border-radius: 3px;
  background: #fff;
  margin-top: 10px;
  box-shadow: 0px 1px 1px #cac7c7 !important;
  ul {
    padding: 0px;
    list-style: none;
    overflow: auto;
    margin: 0px;
  }
  li {
    padding: 6px 10px;
    cursor: pointer;
    text-align: left;
  }
  .filter-textbox {
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 10px;
    input {
      border: 0px;
      width: 100%;
      padding: 0px 0px 0px 26px;
    }
    input:focus {
      outline: none;
    }
  }
}

.multiselect-item-checkbox input[type='checkbox'] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.multiselect-item-checkbox input[type='checkbox']:focus + div:before,
.multiselect-item-checkbox input[type='checkbox']:hover + div:before {
  border-color: #ced4da !important;
  background-color: #f2f2f2 !important;
}

.multiselect-item-checkbox input[type='checkbox']:active + div:before {
  transition-duration: 0s;
}

.multiselect-item-checkbox input[type='checkbox'] + div {
  position: relative;
  padding-left: 2em;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  margin: 0px;
  color: #000;
}

.multiselect-item-checkbox input[type='checkbox'] + div:before {
  box-sizing: content-box;
  content: '';
  color: #1b97aa !important;
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -9px;
  border:2px solid #1b97aa !important;
  text-align: center;
  transition: all 0.4s ease;
}

.multiselect-item-checkbox input[type='checkbox'] + div:after {
  box-sizing: content-box;
  content: '';
  background-color: #1b97aa !important;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  transform: scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type='checkbox']:disabled + div:before {
  border-color: #1b97aa !important;
}

.multiselect-item-checkbox
  input[type='checkbox']:disabled:focus
  + div:before
  .multiselect-item-checkbox
  input[type='checkbox']:disabled:hover
  + div:before {
  background-color: inherit;
}

.multiselect-item-checkbox
  input[type='checkbox']:disabled:checked
  + div:before {
  background-color: #cccccc;
}

.multiselect-item-checkbox input[type='checkbox'] + div:after {
  background-color: transparent;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 3px;
  margin-top: -4px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0 0 3px 3px;
  border-image: none;
  transform: rotate(-45deg) scale(0);
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:after {
  content: '';
  transform: rotate(-45deg) scale(1);
  transition: transform 200ms ease-out;
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:before {
  animation: borderscale 200ms ease-in;
  background: #1b97aa !important;
}

.multiselect-item-checkbox input[type='checkbox']:checked + div:after {
  transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
  50% {
    box-shadow: 0 0 0 2px #1b97aa;
  }
}
.dropdown-item:hover ,.dropdown-item:focus{
 background-color: $base-color !important;
color:white ;
}

.form-control:focus{
  box-shadow: none !important;
  border: 2px solid $base-color;
}
.mat-snack-bar-container {
  color: #f0f1fc !important;
  font-weight:bold !important;
  background: #323232;
  font-size: large !important;
  box-shadow: 0 3px 5px -1px #0003,0 6px 10px #00000024,0 1px 18px #0000001f;
}
.mat-simple-snack-bar-content{
  font-weight: bold !important;
 
}

.cdk-overlay-container {
    position: fixed;
    z-index: 10000;
    margin: bottom 20px; ;
}



// .md-drppicker.double {
// width:650px !important;
// height: 350px !important;

// }
#dateInput .md-drppicker.double {
  // width:600px !important;
  // height: 350px !important;
  left:inherit !important;
  right: 20px !important;

}

.canvasjs-chart-credit{
  display: none  !important;
}

.popover-body{
  z-index: 1999 !important;
}

.custom-menu{
  display: inline-block;
  position: relative !important;
  top: 20px !important;
  right: 0  !important;
  margin-right: -20px !important;
  left: 5rem !important;
  z-index: 3000 !important;
  // @include transition(.3s);
  button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
  }
}

ngb-popover-window{
  z-index: 1900 !important;
  position: fixed !important;

  // transform: translate(12,45,12) !important;
  // transform: translateX(20) !important;
  // transform: translateZ(20) !important;


  
}
#field ngb-popover-window{
  z-index: 1900 !important;
  position: absolute !important;

  // transform: translate(12,45,12) !important;
  // transform: translateX(20) !important;
  // transform: translateZ(20) !important;


  
}
.popover{
  // z-index: 1900 !important;
  position:absolute;
}
#conveyor .ngxImageZoomContainer{
  height: 30rem !important;
  width: 55rem !important;
  object-fit: contain !important;
  z-index: 1020 !important;

}

// :host {
//   ::ng-deep .ngxImageZoomContainer {
//     width: 100% !important;
//   }

//   ::ng-deep .ngxImageZoomThumbnail {
//     width: 100% !important;
//     object-fit: fill !important;
//     height: inherit !important;
//     width: inherit !important;
//   }
// }


#conveyor .ngxImageZoomThumbnail{
  height: inherit;
  width: inherit;
  object-fit:fill ;
}

.w-full{
  width: inherit !important;
  color: white !important;
}

p-menubar{
  padding:0px !important;
  width:inherit !important;
}

// p-menubarsub
// {
//   background: transparent !important;
//   z-index: 1000 !important;
// }

// p-menubarsub:hover{
//   background: transparent !important;
// }
// .p-element.p-menuitem{
//   z-index: 9 !important;
// }

// .p-menubar .p-submenu-list{
//   z-index: 900 !important;

// }

.p-treeselect-label{
  color:black !important;
}

#filter .p-treeselect{
  border-radius:10px !important;
  // background-color:$light-black !important;
  border:2px solid $light-black !important;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 8px rgba(94,104,121,0.3) !important;


}
#filter .p-focus{
  border: none !important;
  box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);

}


ng-scrollbar {
  --scrollbar-size: 20px;
  --scrollbar-thumb-color: rgb(155, 154, 154);
  --scrollbar-hover-size: 20px;
  --scrollbar-track-color: rgba(241, 241, 241, 0);
  --scrollbar-border-radius: 10px;


  // ::ng-deep {
  //   .ng-scroll-viewport{
  //     padding: 1em;
  //   }
  // }
}


// .modal {
//   --bs-modal-bg:transparent;
// }


.ng-scroll-viewport {
  overscroll-behavior: unset !important;
}

.ng-scroll-viewport-wrapper{
  overflow: scroll !important;
}

// carousal stylings

.carousel-indicators [data-bs-target]{

  background-color: #1B98C5;
}

.carousel-control-prev-icon {
  filter:grayscale(100) invert(100%) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon{
  filter: invert(100%) grayscale(100) !important;
  background-image:  url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousal-inner{
  width:120% !important;
}


.carousel-caption{
  color:black;
}
.carousel-control-next{
  width: auto !important;
}

.carousel-control-prev{
  width: auto !important;

}